header {
  background-color: rgb(32, 32, 32);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-top: 10px;
}

hr {
  border: none;
  height: 0px;
  background-color: white;
  border-top: solid 1px rgb(92, 92, 92);
}

.logo svg {
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  width: 20%;

  justify-content: flex-start;
}

.logo h2 {
  display: inline;
}

.photo_avatar {
  border-radius: 20px;
}
.headers input {
  background-color: rgb(95, 95, 95);
  padding: 1.5%;

  border: none;
  font-size: 1rem;
  font-weight: bold;
  outline: none;

  font-family: "Open Sans", sans-serif;
}
.headers input::placeholder {
  color: white;
  background-color: rgb(95, 95, 95);
}
.searchbox {
  display: flex;
  background-color: rgb(95, 95, 95);
  width: 50%;
  border-radius: 10px;
  align-items: center;
  padding: 8px;
}
