.modal{
    background-color: rgb(29, 29, 29);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    z-index: 1000;
    color: rgb(218, 218, 218);
    width: 50%;
    border-radius: 10px;
    /* border: solid 0.5px white; */
    border:  1px solid grey;

}

.overlay{
     position: fixed;
     top:0;
     right: 0;
     bottom: 0;
     left: 0;
     background-color: rgba(0,0,0,.7);
     z-index: 1000;
}

.modal h6{
    font-size: 0.6rem;
    text-align: end;
}

.close{
    display: flex;
    justify-content: flex-end;
    color: white;
    /* padding: 10px; */
}
.close p{
    padding: 10px;
}
.close p:hover{
background-color: rgb(66, 66, 66);
cursor: pointer;
}
.modal h5{
    line-height: 2;
}