.card{
    background-color: rgb(32, 32, 32);
    width: 30%;
    border:  1px solid grey;
    border-radius: 10px;
    margin: 5px;
    color: white;
}
.cardDark{

    background-color: rgb(236, 236, 236);
    width: 30%;
    border:  1px solid grey;
    border-radius: 10px;
    margin: 5px;
    color: black;
}


.card:hover{
    background-color: rgb(97, 97, 97);
}