.card {
  --hue:0;
  --saturation:0%;
  --lightness:13%;
  background-color: hsl(var(--hue),var(--saturation),var(--lightness));
  width: 30%;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 5px;
  color: white;
}

.cardDark {
  background-color: rgb(236, 236, 236);
  width: 30%;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 5px;
  color: black;
}
@media (max-width:500px){
  .card{
    background-color: hsl(var(--hue),var(--saturation),var(--lightness));
  width: 40%;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 5px;
  color: white;
  }
  .cardDark {
    background-color: rgb(236, 236, 236);
    width: 40%;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 5px;
    color: black;
  }
}

@media (orientation:landscape){
  .card{
    background-color: hsl(var(--hue),var(--saturation),var(--lightness));
  width: 20%;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 5px;
  color: white;
  }
  .cardDark {
    background-color: rgb(236, 236, 236);
    width: 2 0%;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 5px;
    color: black;
  }
}

.card:hover {
  --lightness:30%;
  transform: scale(1.1);
}
